<h2 class="title">Escuchado recientemente</h2>
<app-loading *ngIf="mostrarLoading"></app-loading>
<article class="contenido animate__animated animate__fadeIn">
  <ng-container *ngFor="let track of listTracks">
    <app-card-track
      [track]="track"
      (clickEvent)="addFavoritos(track)"
    ></app-card-track>
  </ng-container>
</article>
