@import "variables";

.title {
  font-size: 16px;
  padding-bottom: 1rem;
}

@media (min-width: 520px) {
  .contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
}
